[user]
	name = Chas Nelson
	email = github@chasnelson.co.uk
	signingkey = 24242C5A14E142AC
[core]
	editor = vim
[pull]
	rebase = false
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[alias]
	new = !git init && git symbolic-ref HEAD refs/heads/main
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[author]
	name = --get
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
